<%# app/views/layouts/admin_login.html.erb %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Login / The Anchorpoint Retreat</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "main", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "responsive", "data-turbo-track": "reload" %>
</head>
<body style="background-color: #1A312A;">
  <%= yield %>
</body>
</html>
